Step 1

In [1]:
# Declare Dependencies 
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import time

Mac User

In [2]:
#Choose the executable path to driver 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

 NASA Mars News

In [3]:
#Visit NASA URL to scrape the page
url='https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
#Parse with 'html.parser';creation with beautifulsoup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
#collect the latest news title and paragraph text
news_title= soup.find('div', class_= 'content_title').text
news_title

'NASA Invites Students to Name Mars 2020 Rover'

In [6]:
news_p =soup.find ('div', class_='article_teaser_body').text
news_p

"Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover."

JPL Mars Space Images - Featured Image (Splinter Usage)

In [7]:
#Visit the url for JPL Featured Space Images through splinter module
url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [8]:
 #Click on the the button to get to the full image
image_full=browser.find_by_id('full_image')
image_full.click()
time.sleep(2)
browser.click_link_by_partial_text('more info')

In [9]:
 #find the image url to the full size
html_image = browser.html
#Parse with 'html.parser
soup = BeautifulSoup(html_image, 'html.parser')

In [10]:
#Retrieve backgroud image url from style tag/scrape url
img_url=soup.find('img', class_ = 'main_image')['src']
featured_img_url = "https://www.jpl.nasa.gov" + img_url
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17832_hires.jpg'

    Mars Weather Tweet (Splinter)

In [22]:
#Visit the url for for the latest Mars weather tweet through splinter module
url='https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [23]:
#Parse with 'html.parser';creation with beautifulsoup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [24]:
#collect the latest weather tweets
mars_weather=soup.find('p', class_= 'TweetTextSize').text
mars_weather

'Are you there @NASAInSight? It’s me     @CanberraDSNpic.twitter.com/o5UjO2hRwn'

Mars Facts

In [14]:
#Visit Mars facts Url
# https://space-facts.com/mars/

In [15]:
#Use Pandas to read table
facts_df =pd.read_html('https://space-facts.com/mars/')[1]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
#Find Mars facts DataFrame
facts_df.columns=["Description","Values"]
facts_df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

DataFrames as HTML

In [17]:
#Generate HTML tables from DataFrame using Pandas and set column headers with description and value
facts_df=facts_df.to_html()
facts_df

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres (Splinter)

In [18]:
#Visit the Mars Hemispheres url through splinter module
url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [19]:
#Parse with 'html.parser';creation with beautifulsoup object
html_hemispheres = browser.html
soup = BeautifulSoup(html_hemispheres , 'html.parser')

In [20]:
#Create an empty list of links for the hemispheres
hemisphere_image_urls=[]
products=soup.find ('div', class_='result-list')
hemispheres=products.find_all('div',{'class':'item'})

for hemisphere in hemispheres:
    title = hemisphere.find("h3").text
    title = title.replace("Enhanced", "")
    end_link = hemisphere.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/" + end_link    
    browser.visit(image_link)
    html_hemispheres = browser.html
    soup=BeautifulSoup(html_hemispheres, "html.parser")
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    hemisphere_image_urls.append({"title": title, "img_url": image_url})

In [21]:
#Display hemisphere image urls
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]